/* .container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
} */

/* ======= Header ======= */

/* .section-header {
  border-bottom: 1px solid #e7e9fc;
  margin-right: 76px;
  margin: 0 auto;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
} */

/* .section-header .container {
  display: flex;
  align-items: center;
  padding: 0 15px 0 15px;
} */

/* .logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
} */

/* header .logo-part {
  color: #2e2f42;
} */

/* .nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link.current {
  position: relative;
  color: #404bbf;
}
.nav-link.current::after {
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
} */

/* .nav-header {
  display: flex;
  align-items: center;
}

.address-list .container {
  display: flex;
  align-items: center;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* 


/* ========= Hero ========= */

/* .section-hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-s.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.section-hero {
  padding-top: 188px;
  padding-bottom: 188px;
}

.title-hero {
  display: block;
  align-items: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  max-width: 496px;
}

.button-hero {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 48px;
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-family: inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus,
.footer-subscribe-button:hover,
.footer-subscribe-button:focus,
.form-button-submit:hover,
.form-button-submit:focus {
  background-color: #404bbf;
  color: #ffffff;
} */

/* ======== Studio ========== */

/* .section-studio {
  padding: 120px 0;
} */
/* 
.studio-list {
  display: flex;
  gap: 24px;
}

.studio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.studio-item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.studio-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.studio-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.studio-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  max-width: 264px;
  height: 112px;
  background: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}  */

/* ========= Team ========== */

/* .section-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.team-photo {
  object-fit: cover;
}

.team-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-photo-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-photo-dscr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.div-team {
  padding: 32px 0;
  border-radius: 0px 0px 4px 4px;
}

.team-social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.team-social-media-link:hover,
.team-social-media-link:focus {
  background-color: #404bbf;
  fill: #f4f4fd;
}

.team-social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  fill: #fff;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-media-item {
  width: 40px;
  height: 40px;
} */

/* ======== Portfolio =========== */

/* .portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
} */

/* .portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
} */

/* .portfolio-photo {
  display: block;
} */

/* .portfolio-marketing-photo {
  position: relative;
  overflow: hidden;
  
}

.portfolio-marketing-overley-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  position: absolute;
  transform: translateY(100%);
  top: 0;
  left: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-item:hover .portfolio-marketing-overley-text {
  transform: translateY(0%);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
} */

/* .portfolio-photo-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
} */

/* .div-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  max-width: 360px;
} */

/* .portfolio-photo-dscr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
} */

/* .section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
} */

/*  =========== Fotter =========== */

/* .section-footer {
  background-color: #2e2f42;
  padding: 100px 0;
} */

/* footer .logo-part {
  color: #f4f4fd;
  line-height: 1.17;
}

footer .logo {
  display: inline-block;
  margin-bottom: 16px;
} */

/* .footer-dscr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  display: flex;
  max-width: 264px;
} */

.footer-social-media-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-social-media-item {
  width: 40px;
  height: 40px;
}

.footer-social-media-icon {
  fill: #f4f4fd;
}

/* .container.footer {
  display: flex;
  align-items: baseline;
} */

/* .footer-social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  fill: #fff;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .footer-social-media-link:hover,
.footer-social-media-link:focus {
  background-color: #31d0aa;
} */

/* .div-footer-social-media {
  margin-right: 120px;
}

.div-footer-logo {
  margin-right: 120px;
} */

/* .footer-social-media {
  display: flex;
  gap: 16px;
}


.footer-wrapper-form {
  display: flex; 
  gap: 24px; 
}

.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-subscribe-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-weight: 400;
 font-size: 12px;
 line-height: 2;
 letter-spacing: 0.04em;
 color: #fff;
 padding-left: 16px;
}

.footer-subscribe-input::placeholder {
 font-weight: 400;
 font-size: 12px;
 line-height: 2;
 letter-spacing: 0.04em;
 color: #fff;
}


.footer-subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.footer-subscribe-icon {
  fill: #fff;
  margin-left: 16px;
/* }  */

/* ======= Modal ======= */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close:hover .icon-close,
.modal-close:focus .icon-close {
  fill: #ffffff;
}

.form-wrraper-cont {
  margin-bottom: 8px;
}

.form-user-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  line-height: 1.17;
  margin-bottom: 4px;
  color: #8e8f99;
}

.form-user-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-user-input:hover,
.form-user-input:focus,
.form-user-comment:hover,
.form-user-comment:focus {
  border-color: #4d5ae5;
}

.form-user-icon {
  position: absolute;
  fill: #2e2f42;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-user-input:focus + .form-user-icon {
  fill: #4d5ae5;
  border: none;
}

.form-user-icon-wrapper {
  position: relative;
}

.form-user-comment {
  width: 100%;
  resize: none;
  min-height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-user-coment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-wrraper-cont-comment {
  margin-bottom: 16px;
}

.castom-checkbox {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  border-radius: 2px;
  margin-right: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .form-user-checkbox .castom-checkbox {
  background-color: #404bbf;
  border: transparent;
  fill: #f4f4fd;
}

.form-user-checkbox {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.form-user-checkbox a {
  text-decoration: underline;
}

.checkbox-privacy {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.form-wrapper-checkbox {
  margin-bottom: 24px;
}

.form-button-submit {
  display: block;
  border: none;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  margin: 24px 96px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
